@use '../../../styles/utils' as utils;
@use '../../../styles/variables' as variables;
@use '../../../styles/animation' as animation;

.root {
  @include utils.set-transition(opacity);
  @include utils.flex-center;
  @include animation.spinner-animation;
  @include animation.spin-animation;

  pointer-events: none;
}

.svg {
  animation: spin 2s linear infinite;
}

.circle {
  fill: transparent;
  stroke: currentColor;
  stroke-dasharray: 283;
  stroke-dashoffset: 200;
  stroke-linecap: round;
  stroke-width: 8px;
  display: block;
  transform-origin: 50% 50%;
  animation: loaderAnimation 1.4s ease-in-out infinite both;
}
