{
    "printWidth": 100,
    "singleQuote": true,
    "trailingComma": "all",
    "arrowParens": "always",
    "tabWidth": 4,
    "quoteProps": "consistent",
    "overrides": [
        {
            "files": ["**/*.{scss,css}"],
            "options": {
                "order": "concentric-css"
            }
        }
    ],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true,
    "importOrderGroupNamespaceSpecifiers": true,
    "importOrderCaseInsensitive": true,
    "importOrder": [
        "^react$",
        "<THIRD_PARTY_MODULES>",
        "^@stores/(.*)$",
        "^@lib/(.*)$",
        "^@hooks/(.*)$",
        "^@views/(.*)$",
        "^@pages/(.*)$",
        "^@components/(.*)$",
        "^\\.\\/.+(?<!s?css)$",
        "^@styles/(.*)$",
        "^\\./.+\\.s?css$",
        "^@assets/(.*)$",
        "^[./]",
        "^@mock/(.*)$"
    ]
}
