@mixin spin-animation {
    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }
}

@mixin spinner-animation {
    @keyframes loaderAnimation {
        0%,
        25% {
            stroke-dashoffset: 150;
            transform: rotate(0);
        }

        50%,
        75% {
            stroke-dashoffset: 75;
            transform: rotate(45deg);
        }

        100% {
            stroke-dashoffset: 150;
            transform: rotate(360deg);
        }
    }
}

@mixin shine-loader {
    @keyframes shineLoader {
        0% {
            background-position: -50% 0;
        }

        50% {
            background-position: 100% 0;
        }

        100% {
            background-position: -50% 0;
        }
    }
}
