@use '../../../styles/media' as media;
@use '../../../styles/utils' as utils;
@use '../../../styles/variables' as vars;

$letters-column-width: 160px;
$letters-column-width-large: 120px;

.brandsContainer {
  display: flex;
  justify-content: space-between;
}

.brandsRow {
  display: grid;
  grid-template-columns: $letters-column-width 1fr;
  margin-bottom: 40px;

  @include media.vw-large-down {
    grid-template-columns: $letters-column-width-large 1fr;
  }

  @include media.vw-medium-down {
    grid-row-gap: 8px;
    grid-template-columns: 1fr;
  }
}

.brandsGridContainer {
  overflow-x: auto;
}

.brandsGrid {
  grid-column-gap: 24px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  list-style-type: none;
  margin: 0;

  @include media.vw-medium-down {
    grid-template-rows: 1fr;
  }
}

.letter {
  position: sticky;
  top: 15px;
  color: vars.$color-black;
  font-size: utils.to-rem(40px);
  line-height: 1;
  margin: 0;

  @include media.vw-large-down {
    font-size: utils.to-rem(34px);
  }

  @include media.vw-medium-down {
    position: static;
    font-size: utils.to-rem(24px);
  }
}

.name {
  @include utils.set-transition(color);

  color: vars.$color-black;
  font-size: utils.to-rem(14px);
  line-height: 40px;
  margin: 0;

  @include media.no-touch-hover {
    color: vars.$color-green;
    text-decoration: underline;
  }
}

.inputContainer {
  position: relative;
  margin: 40px 0 40px $letters-column-width;
  max-width: 840px;

  @include media.vw-large-down {
    margin-left: $letters-column-width-large;
  }

  @include media.vw-medium-down {
    margin-left: 0;
  }
}

.searchIcon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: vars.$color-green;
}

.input {
  @include utils.set-transition(border-color);

  border: none;
  border-bottom: 1px solid vars.$color-gray;
  padding: 6px 36px;
  width: 100%;
  color: vars.$color-black;

  @include media.no-touch-hover {
    border-color: vars.$color-green;
  }

  &:focus,
  &:focus-visible {
    border-color: vars.$color-green;
  }

  &::placeholder {
    opacity: 0.4;
  }
}

.navigationContainer {
  flex-shrink: 0;
  min-width: 70px;

  @include media.vw-medium-down {
    min-width: 50px;
  }

  @include media.vw-xsmall-down {
    padding-top: 8px;
  }
}

.navigation {
  position: sticky;
  top: 60px;
  height: fit-content;

  &::before,
  &::after {
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.25s ease-in-out;
    width: 100%;
    height: 40px;
    pointer-events: none;
    content: '';
  }

  &::before {
    top: 0;
    background: linear-gradient(180deg, rgba(white, 1) 8.25%, rgba(white, 0) 100%);
  }

  &::after {
    bottom: 0;
    background: linear-gradient(0deg, rgba(white, 1) 8.25%, rgba(white, 0) 100%);
  }

  &.hasTopFade {
    &::before {
      opacity: 1;
    }
  }

  &.hasBottomFade {
    &::after {
      opacity: 1;
    }
  }
}

.navigationList {
  max-height: 80vh;
  overflow-y: auto;
  list-style-type: none;
}

.navigationButton {
  @include utils.set-transition(color);

  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  font-size: utils.to-rem(20px);
  line-height: 1.3;

  @include media.vw-medium-down {
    margin-bottom: 8px;
    font-size: utils.to-rem(16px);
  }

  @include media.no-touch-hover {
    color: vars.$color-green;
  }

  &:focus,
  &:focus-visible {
    color: vars.$color-green;
  }

  &.isActive {
    color: vars.$color-green;
    font-weight: vars.$font-weight-bold;

    &::after {
      @include utils.set-size(5px);

      display: block;
      margin-left: 5px;
      border-radius: 50%;
      background-color: currentColor;
      content: '';
    }
  }
}
