@use 'src/styles/variables' as vars;
@use 'src/styles/utils' as utils;

.root {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid vars.$color-gray;
  border-radius: 20px;
  background: white;
  padding: 16px;
  width: 100%;
  position: relative;
}

.name {
  text-align: center;
}